<main class="main">
  <section>
    <form action="">
      <label for="search-input">Cocktail Finder</label>
      <input
        type="text"
        name=""
        id="search-input"
        placeholder="insert your cocktail"
      />
      <button type="button">SEARCH</button>
      <button type="reset">RESET</button>
    </form>

    <h2>My search list</h2>
    <ul>
      <li>
        <article>
          <h3></h3>
          <img src="" alt="" />
        </article>
      </li>
    </ul>
  </section>

  <section>
    <h2>My favorite cocktails</h2>
    <ul>
      <li>
        <article>
          <h3></h3>
          <img src="" alt="" />
        </article>
      </li>
    </ul>
  </section>
</main>
