<main class="main">
  <section>
    <form action="">
      <label for="input-search">Cocktail Finder</label>
      <input
        type="text"
        name=""
        id="input-search"
        class="input-search js-input-search"
        placeholder="insert your cocktail"
      />
      <input type="button" value="SEARCH" class="btn-search js-btn-search" />
      <input type="button" value="RESET" class="btn-reset js-btn-reset" />
    </form>
  </section>

  <section class="lists">
    <div class="result">
      <h2>My search results</h2>
      <ul class="result-list js-result-list"></ul>
    </div>

    <div class="favorites">
      <h2>My favorite cocktails</h2>
      <ul class="favorite-list js-favorite-list"></ul>
    </div>
  </section>
</main>
