// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

$light-khaki: #F9F4DC;
$lightpink: #ffb6c1;
$lightseagreen: #20b2aa;
$grey: #808080;




// Estos son los tamaños para las media-queries

//$breakpoint-tablet 768px;
//$breakpoint-desktop: 1024px;

// fonts
// $font-main: 'Roboto', sans-serif;

// colors
// $color-text: #000;
// $color-title: #000;
// $color-background: #999;
