.lists {
    display: flex;
    
}
// .result {
//     width: 50vw;
// }

// .result-list{
//     width: 20px;
//     height: 20px;
// }

.list-cocktail{
    margin: 10px 0 10px 10px;
}

.cocktail{
    padding: 15px;
}
.cocktail-image {
    width: 200px;
    height: 200px;
}
.selected {
    background-color: lightpink;
}